@page
@model MQTTServerSample.Pages.Sensors.SendCommandsModel
@{
}
<h1>MQTT Command Sender</h1>

<form method="post">
    <button name="command" value="RED_ON">Turn Red LED ON</button>
    <button name="command" value="RED_OFF">Turn Red LED OFF</button>
    <button name="command" value="BLUE_ON">Turn Blue LED ON</button>
    <button name="command" value="BLUE_OFF">Turn Blue LED OFF</button>
</form>